<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title -%}
             Pastedown &mdash;
             the pastebin service for Markdown documents.
           {%- endblock %}</title>
    <script src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"
            type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" media="screen"
          href="/etc/stylesheets/style.css" />
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
      <header>
        <h1>Pastedown</h1>
        <p>The pastebin service for
           <a href="http://daringfireball.net/projects/markdown/">Markdown</a>
           documents.</p>
      </header>
      {% block content %}
      {% endblock %}
      <footer>
        <p class="copyright">
          Copyright &copy; 2010 <a href="http://lunant.net/">Lunant</a>.
          <a href="http://bitbucket.org/lunant/pastedown/">
            The source code is available</a> under
          <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.
        </p>
      </footer>
    {% endblock %}
    <script type="text/javascript">
    // <![CDATA[
    $('form[method=put], form[method=delete]').append(function() {
      var attr = this.getAttribute('method');
      return '<input type="hidden" name="__method__" value="' + attr + '" />';
    }).attr('method', 'post');
    wmd_options = {
      output: 'Markdown',
      lineLength: 80,
      buttons: 'bold italic | link blockquote code image | ol ul heading hr',
      autostart: true
    };
    (function() {
      function resize() {
        this.rows = Math.max(this.value.split('\n').length, this.rows);
      }
      $('textarea.markdown').bind({ keyup: resize, keydown: resize,
                                    keypress: resize });
    })();
    // ]]>
    </script>
    <script type="text/javascript" src="/etc/wmd/wmd.js"></script>
  </body>
</html>
