{% extends "base.html" %}
{% block title -%}
  {{ document.title|escape }} &mdash; Pastedown
{%- endblock %}
{% block body_class -%}
  document
{%- endblock %}
{% block script %}
<script type="text/javascript" src="http://vlaah-embed.appspot.com/init.js">
</script>
<script type="text/javascript">
// <![CDATA[
$('article h1').append('<div id="vlaah-candybar"></div>');
vlaahEmbed.append(location.href, 'vlaah-candybar', false,
                  'rotten_clover', 'rotten_tomato', false);
// ]]>
</script>
{% endblock %}
{% block body %}
  <article>{{ revision.html }}</article>
  <aside>
    {% if document.parent_document %}
      <div class="parent metadata">
        <h2>Parent</h2>
        <p>It forks <a href="{{ document.parent_document|url|escape }}">
           {{ document.parent_revision.title }}</a>.</p>
      </div>
    {% endif %}
    {% if document.forks.count(1) %}
      <div class="forks metadata">
        <h2>Forks</h2>
        <ul>
          {% for fork in document.forks %}
            <li><a href="{{ fork|url|escape }}">{{ fork.title }}</a>
                {% if fork.author %} by <a href="{{ fork.author|url|escape }}">
                                          {{ fork.author.nick|escape }}
                                          </a>{% endif %}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if document.revisions.count(2) > 1 %}
      <div class="history metadata">
        <h2>History</h2>
        <ul>
          {% for rev in document.revisions: %}
            <li><a href="{{ rev|url|escape }}">{{ rev.created_at }}</a>
                {% if rev.author %} by <a href="{{ rev.author|url|escape }}">
                                        {{ rev.author.nick|escape }}
                                       </a>{% endif %}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if document.is_modifiable(person) %}
      <form method="put" action="{{ document|url|escape }}" class="update">
        <fieldset>
          <legend>Update the document</legend>
          <textarea name="body" rows="10" cols="80" class="markdown">
            {{- revision.body|escape -}}
          </textarea>
          <button type="submit">Update</button>
        </fieldset>
      </form>
      <form method="delete" action="{{ document|url|escape }}" class="delete">
        <fieldset>
          <legend>Delete the document</legend>
          <button type="submit">Delete</button>
        </fieldset>
      </form>
    {% endif %}
    <form method="post" action="" class="fork">
      <fieldset>
        <legend>Fork the document</legend>
        <textarea name="body" rows="10" cols="80" class="markdown">
          {{- revision.body|escape -}}
        </textarea>
        <button type="submit">Fork</button>
      </fieldset>
    </form>
  </aside>
  <footer>
    <div class="powered-by">
      <h1><a href="/">Pastedown</a></h1>
      <p>The pastebin service for
         <a href="http://daringfireball.net/projects/markdown/">Markdown</a>
         documents.</p>
    </div>
    <p class="copyright">
      Copyright &copy; 2010 <a href="http://lunant.net/">Lunant</a>.
      <a href="http://bitbucket.org/lunant/pastedown/">
        The source code is available</a> under
      <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.
    </p>
  </footer>
{% endblock %}
