{% extends "base.html" %}
{% block title -%}
  {{ document.title|escape }} &mdash; Pastedown
{%- endblock %}
{% block content %}
  <article>{{ revision.html }}</article>
  <aside>
    {% if document.parent_document %}
      <p>It forks <a href="/{{ document.parent_document.key().name() }}">
         {{ document.parent_revision.title }}</a>.</p>
    {% endif %}
    {% if document.forks.count(1) %}
      <ul class="forks">
        {% for fork in document.forks %}
          <li><a href="/{{ fork.key().name() }}">{{ fork.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if document.revisions.count(2) > 1 %}
      <ul class="history">
        {% for rev in document.revisions: %}
          <li>{{ rev.created_at }} by <a href="/{{ rev.author.name }}">
              {{ rev.author.nick|escape }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if document.is_modifiable(person) %}
      <form method="put" action="" class="update">
        <fieldset>
          <legend>Update the document</legend>
          <textarea name="body" rows="10" cols="80">
            {{- revision.body|escape -}}
          </textarea>
          <button type="submit">Update</button>
        </fieldset>
      </form>
      <form method="delete" action="" class="delete">
        <fieldset>
          <legend>Delete the document</legend>
          <button type="submit">Delete</button>
        </fieldset>
      </form>
    {% endif %}
    <form method="post" action="" class="fork">
      <fieldset>
        <legend>Fork the document</legend>
        <textarea name="body" rows="10" cols="80">
          {{- revision.body|escape -}}
        </textarea>
        <button type="submit">Fork</button>
      </fieldset>
    </form>
  </aside>
{% endblock %}
