{% extends "base.html" %}
{% block content %}
  <form id="post" method="post" action="">
    <fieldset>
      <legend>Post a new document</legend>
      <textarea name="body" cols="80" rows="10"></textarea>
      <button type="submit">Post</button>
    </fieldset>
  </form>
  {% if ticket %}
    <form id="logout" method="delete" action="/login/">
      <fieldset>
        <button type="submit">Logout</button>
      </fieldset>
    </form>
  {% else %}
    <form id="login" method="post" action="/login/">
      <fieldset>
        <legend>VLAAH Login</legend>
        <label>Login <input type="text" name="name"
                            value="{{ person.name|escape }}" /></label>
        <button type="submit">Login</button>
      </fieldset>
    </form>
  {% endif %}
  {% if documents.count(1) %}
    <h2>Recently written documents</h2>
    <ul>
      {% for document in documents %}
        {% if document.title %}
          <li><a href="/{{ document.key().name()|escape }}">
                {{ document|escape }}</a>
              {% if document.author %}
                by {{ document.author.nick|escape }}
              {% endif %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
