{% extends "base.html" %}
{% block body_class -%}
  home
{% endblock %}
{% block content %}
  <div class="home">
    <form id="post" method="post" action="">
      <fieldset>
        <legend>Post a new document</legend>
        <textarea name="body" cols="80" rows="10" class="markdown"></textarea>
        <button type="submit">Post</button>
      </fieldset>
    </form>
    {% if documents.count(1) %}
      <div class="recent-documents">
        <h2>Recently written documents</h2>
        <ul>
          {% for document in documents %}
            {% if document.title %}
              <li><a href="{{ document|url|escape }}">
                    {{ document|escape }}</a>
                  {% if document.author %}
                    by <a href="{{ document.author|url }}">
                         {{- document.author.nick|escape -}}</a>
                  {% endif %}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <aside class="user">
    {% if ticket %}
      <form id="logout" method="delete" action="/login/">
        <fieldset>
          <input type="submit" value="Logout" />
        </fieldset>
      </form>
    {% else %}
      <form id="login" method="post" action="/login/">
        <fieldset>
          <legend>VLAAH Login</legend>
          <label>Login <input type="text" name="name" class="name"
                              maxlength="32"
                              value="{{ person.name|escape }}" /></label>
          {% if handler.request.get('__login_error__') %}
            <p class="error">Incorrect login.</p>
          {% endif %}
          <input type="hidden" name="destination"
                 value="{{ handler.request.uri|remove_query('__login_error__')
                                              |escape }}" />
          <input type="submit" value="Login" />
        </fieldset>
      </form>
      <script type="text/javascript">
      // <![CDATA[
      (function() {
        var name = $('form#login input[name=name]').get(0);
        if (location.search.match(/(\?|&)__login_error__=[^&]+(&|$)/)) {
          $('form#login .error').remove();
          window.alert('Incorrect login.');
          name.focus();
        }
        $('form#login').submit(function() {
          var val = name.value = $.trim(name.value);
          if (val == '') {
            window.alert('Fill the login name.');
          } else if (!val.match(/^~?[-_.a-z0-9]{3,32}$/i)) {
            window.alert('Invalid VLAAH login name.');
          } else {
            return;
          }
          name.focus();
          return false;
        });
      })();
      // ]]>
      </script>
    {% endif %}
  </aside>
{% endblock %}
